<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LibreCast</title>

	<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="atom.xml" />
</head>
<body>
	<h1>LibreCast</h1>

	<p>
		<a href="rss.xml">RSS feed</a>
		&middot;
		<a href="atom.xml">ATOM feed</a>
	</p>

	<h2>Channels</h2>

	<ul>
	<% feeds.forEach(function (item) { %>
		<li><a href="<%= item.slug %>/"><%= item.title %></a></li>
	<% }); %>
	</ul>
</body>
</html>